/* RESET BÁSICO */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  
  color: black;
}

/* HEADER E FOOTER */
header, footer {
  color:white;
  background:  #1f1f6e;
  text-align: center;
  padding: 1rem;
}

/* CONTAINER CENTRAL */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* FILTROS CENTRALIZADOS */
.filters {
  display: flex;
  font-size: 24px;
  justify-content: center;
  gap: 12px;
  margin-bottom: 2rem;
}

.filters input {
  padding: 6px;
  font-size: 16px;
}

.filters button {
  padding: 6px 12px;
  cursor: pointer;
}

/* GRID COM 4 COLUNAS */
.grid {
  display: grid;
  position: relative;
  z-index: 5;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

/* CARD */
.card {
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  z-index: 10;

  background: #8a8a07;
  border-radius: 6px;
  padding: 10px;
  width: 100%;

  transition: transform 0.2s;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}

.genre {
  display: block;
  margin-top: 4px;
  font-size: 0.85rem;
}

.year {
  font-size: 0.85rem;
  opacity: 0.8;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.card p,
.card span {
  font-size: 0.9rem;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1f1f6e;
  color: white;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
}

.modal .close {
  float: right;
  cursor: pointer;
}

/* PAGINAÇÃO CENTRALIZADA */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 2rem;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* RESPONSIVO (BÔNUS) */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
